@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.bodyContainer {
  margin: 0;
  height: calc(100vh);
  background-g: linear-gradient(99deg, #34353a, #5c5b5b);
  background-size: cover;
}

.mainNavContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.logoContainer {
  font-family: "Anton";
  display: flex;
  gap: 10px;
  font-size: 22px;
  font-weight: 500;
  width: 174px;
  color: #fff;
  padding-top: 5px;
  cursor: pointer;
}

.logoSymbol {
  font-size: 28px;
  margin-top: -6px;
}

.navigation {
  display: flex;
  padding: 3px 10px 2px 10px;
  text-decoration: none;
  color: #fff;
  font-family: "Anton";
}
.navigation:hover {
  color: #1a202c !important;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}

.navigationB {
  display: flex;
  padding: 3px 10px 2px 10px;
  text-decoration: none;
  color: #1a202c !important;
  font-family: "Anton";
}
.navigationB:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #1a202c !important;
  border-radius: 5px;
}

.navigationActive {
  color: #1a202c !important;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}

.contactContainer {
  display: flex;
  gap: 15px;
  padding-right: 5px;
  padding-left: 10px;
}

.contactIcons {
  padding-top: 0px;
}
