@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.bodyContainer {
  margin: 0;
  height: calc(100vh);
  background-image: linear-gradient(99deg, #34353a, #5c5b5b);
  background-size: cover;
}

.mainNavContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.logoContainer {
  font-family: 'Anton';
  display: flex;
  gap: 10px;
  font-size: 22px;
  font-weight: 500;
  width: 174px;
  color: #fff;
  padding-top: 4px
}

.logoSymbol {
  font-size: 28px;
  margin-top: -6px;
}

.navigation {
  display: flex;
  gap: 20px;
  padding-top: 3px;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  font-family: 'Anton';
}

.navigation a:hover {
  color: #fff;
}

.navigationActive {
  color: #1A202C !important;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}

.contactContainer {
  display: flex;
  gap: 15px;
  padding-right: 5px;
  padding-left: 10px;
}

.contactIcons {
  padding-top: 7px;
}